<!-- Footer -->
<footer class="py-4" style="background-color: #f9f8f3; border-top: 3px solid #d4af37;">
    <div class="container px-5 text-center">
        <p class="mb-1" style="color: #333;">&copy; 2025 {{ _('Wild Atlantic Way Guide') }}</p>
        <ul class="list-inline small mb-0">
            <li class="list-inline-item"><a href="#" class="footer-link">{{ _('About Us') }}</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="#" class="footer-link">{{ _('FAQs') }}</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="#" class="footer-link">{{ _('Privacy') }}</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="#" class="footer-link">{{ _('Sustainability') }}</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="#" class="footer-link">{{ _('Contact') }}</a></li>
        </ul>
    </div>
</footer>
