{% extends "base.html" %}
{% block navigation %}
    {% set supported_langs = ['en', 'da', 'el'] %}
    {% set current_lang = lang_code if lang_code in supported_langs else 'en' %}
    {% include 'includes/' + lang_code + '/navbar.html' %}
{% endblock %}

{% block hero %}
    {% include 'includes/' + lang_code + '/hero.html' %}
{% endblock %}

{% block main %}
    {% include 'includes/' + lang_code + '/main.html' %}
{% endblock %}

{% block footer %}
    {% include 'includes/' + lang_code + '/footer.html' %}
{% endblock %}